extends base

- load widget_tweaks

block content
  .container
    .row.space-top-xl
      .col-md-6.col-md-offset-3
        p.gift-text.text-success.text-center Thank you!

    .row.space-top
      .col-md-8.col-md-offset-3
          p.gift-text Something #{gift.get_theme_display}
          p.gift-text that is #{gift.get_color_display}
          p.gift-text costs about #{gift.get_price_display}
          p.gift-text chosen by a #{gift.get_curator_display}

      .col-md-8.col-md-offset-3
        p.gift-text Is on it's way to #{gift.address}
